.folders_container {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
}
.folders_bu-add {
    background: #dfe0e1;
}
.folders_item {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 0;
}
.folder_toggle_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.folder_toggle_wrap:hover {
//    background: rgba(0,0,0,0.3);
}
.folder_toggle_wrap.hovered {
//    background: rgba(0,0,0,0.1);
}

.edit_bt_group {
    display: flex;
    position:absolute;
    top:8px;
    right:8px;
    z-index: 1000;
}
.edit_bt_group div {
    width:30px;
    height:30px;
    background: #fff;
    text-align: center;
    margin: 4px;
}

.edit_bt_group div > a {
    display: block;
    cursor: default;
    width: 100%;
    height: 100%;
    font-size: 30px;
    line-height: 30px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.folder_link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

#bt-add-folder {
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    line-height: 100px;
    color: #aaa;
}
.folder {
    background: url('/images/folder.png');
    background-repeat: no-repeat;
    background-position: 38px 38px;
    background-size: 70px;
    vertical-align: bottom;
}
.folder > .textarea {
    position: absolute;
    bottom: 10px;
    width: 100%;
}