
.storage_container {
    height: calc(100vh - 200px);
}

.storage_header {
    height: 10%;
}
.storage_body {
    height: 100%;
}
.folders_container {

}
.rightimg {
    display: flex;
    justify-content: flex-end;
}
.instructions, .instructions > p {
    width: 100%;
    padding: 20px;
}